---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import LKxLC from '../assets/sadme.jpg'
---
<Layout>
    <div class="flex items-center justify-center h-screen">
    <Image 
        src={LKxLC} 
        alt="Description of my image" 
        width={256} 
        height={256} 
        class="w-64 h-64 object-cover" 
    />
    </div>
</Layout>